---
import '../../styles/global.css'
import MarkdownExtract from '../../components/MarkdownExtract.svelte';
import content from '../../content/first-project.md?raw';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>First Project - Atlas Engine</title>
	</head>
	<body class="bg-gray-950">
		<div>
			<MarkdownExtract title="Your First Project" description="Start making incredible games with Atlas" image="/images/for_lib/hydra.png" markdown={content} client:load />
		</div>
	</body>
</html>
