---
import '../../styles/global.css'
import MarkdownExtract from '../../components/MarkdownExtract.svelte';
import content from '../../content/installation.md?raw';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>The Architecture - Atlas Engine</title>
	</head>
	<body class="bg-gray-950">
		<div>
			<MarkdownExtract title="Install Atlas Engine" description="Check how to install the Atlas Engine" image="/images/sponza4.png" markdown={content} client:load />
		</div>
	</body>
</html>
