---
import '../../styles/global.css'
import Tutorials from '../../components/learn/Tutorials.svelte';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Tutorials - Atlas Engine</title>
	</head>
	<body class="bg-gray-950">
		<div>
            <Tutorials client:load ></Tutorials>
		</div>
	</body>
</html>
