@keyframes svelte-ejsqc9-aurora{0%{background-position:0% 50%}50%{background-position:100% 50%}to{background-position:0% 50%}}.animate-aurora.svelte-ejsqc9{background-size:200% 200%;animation:svelte-ejsqc9-aurora 3s ease infinite}
