---
import '../../styles/global.css'
import ContributingPage from '../../components/Contributing.svelte';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Contribute to Atlas Engine</title>
	</head>
	<body class="bg-gray-950">
		<div>
			<ContributingPage client:load />
		</div>
	</body>
</html>
